@font-face {
  font-family: alata;
  src: url('./fonts/alata/alata-regular.ttf');
  font-stretch: normal;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: josefin;
  src: url('./fonts/Josefin_Sans/JosefinSans-Light.ttf');
  font-stretch: normal;
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  padding: 1.5rem;
  text-align: center;
}

h1, h2, h3 {
  font-family: josefin;
}

p, a {
  font-family: alata;
}

.mrg-btm {
  margin-bottom: 4.5rem;
}

@media (width > 375px) {
  .pad-sides {
    padding: 3rem 9%;
  }
}
